'use strict'
module.exports = {
  FIRE_BASE: {
    API_KEY: "XXXXX",
    AUTH_DOMAIN: "YYYYY.firebaseapp.com",
    DATABASE_URL: "https://YYYYY.firebaseio.com",
    PROJECT_ID: "YYYYY",
    STORAGE_BUCKET: "YYYYY.appspot.com",
    MESSAGING_SENDER_ID: "ZZZZZ"
  }
}
